apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Deep Insights
    categories: Storage
    console.openshift.io/plugins: '["odf-client-console"]'
    containerImage: quay.io/ocs-dev/ocs-client-operator:latest
    createdAt: "2025-03-10T11:31:35Z"
    description: OpenShift Data Foundation client operator enables consumption of
      storage services from a remote centralized OpenShift Data Foundation provider
      cluster.
    olm.skipRange: ""
    operatorframework.io/suggested-namespace: openshift-storage
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/operator-type: standalone
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    repository: https://github.com/red-hat-storage/ocs-client-operator
    support: Red Hat
  labels:
    operatorframework.io/arch.amd64: supported
  name: ocs-client-operator.v4.19.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: StorageClient is the Schema for the storageclients API
      displayName: Storage Client
      kind: StorageClient
      name: storageclients.ocs.openshift.io
      version: v1alpha1
  description: OpenShift Data Foundation client operator enables consumption of storage
    services from a remote centralized OpenShift Data Foundation provider cluster.
  displayName: OpenShift Data Foundation Client
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - endpoints
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - admissionregistration.k8s.io
          resources:
          - validatingwebhookconfigurations
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - batch
          resources:
          - cronjobs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - console.openshift.io
          resources:
          - consoleplugins
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - cephconnections
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofilemappings
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - clientprofiles
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - drivers
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - operatorconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - groupsnapshot.storage.k8s.io
          resources:
          - volumegroupsnapshotclasses
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - groupsnapshot.storage.k8s.io
          resources:
          - volumegroupsnapshotcontents
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - prometheusrules
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - noobaa.io
          resources:
          - noobaas
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ocs.openshift.io
          resources:
          - storageclaims
          - storageclients
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ocs.openshift.io
          resources:
          - storageclients
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ocs.openshift.io
          resources:
          - storageclients/finalizers
          verbs:
          - update
        - apiGroups:
          - ocs.openshift.io
          resources:
          - storageclients/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - operators.coreos.com
          resources:
          - subscriptions
          verbs:
          - get
          - list
          - update
          - watch
        - apiGroups:
          - quota.openshift.io
          resources:
          - clusterresourcequotas
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ramendr.openshift.io
          resources:
          - maintenancemodes
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ramendr.openshift.io
          resources:
          - maintenancemodes/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - replication.storage.openshift.io
          resources:
          - volumereplicationclasses
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotclasses
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: ocs-client-operator-controller-manager
      - rules:
        - apiGroups:
          - ocs.openshift.io
          resources:
          - storageclients
          verbs:
          - get
          - list
          - update
        - apiGroups:
          - ""
          resourceNames:
          - ceph-csi-configs
          resources:
          - configmaps
          verbs:
          - get
          - list
          - update
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          - dnses
          verbs:
          - get
          - list
        - apiGroups:
          - quota.openshift.io
          resources:
          - clusterresourcequotas
          verbs:
          - get
        serviceAccountName: ocs-client-operator-status-reporter
      deployments:
      - label:
          app: ocs-client-operator
          control-plane: controller-manager
        name: ocs-client-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: ocs-client-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                app: ocs-client-operator
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --console-port=9001
                command:
                - /entrypoint
                env:
                - name: OPERATOR_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: OPERATOR_POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: STATUS_REPORTER_IMAGE
                  value: quay.io/ocs-dev/ocs-client-operator:latest
                - name: NOOBAA_OPERATOR_CHANNEL
                  value: stable-4.17
                image: quay.io/ocs-dev/ocs-client-operator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 256Mi
                  requests:
                    cpu: 10m
                    memory: 256Mi
                securityContext:
                  allowPrivilegeEscalation: false
                volumeMounts:
                - mountPath: /etc/tls/private
                  name: webhook-cert-secret
              securityContext:
                runAsNonRoot: true
              serviceAccountName: ocs-client-operator-controller-manager
              terminationGracePeriodSeconds: 10
              tolerations:
              - effect: NoSchedule
                key: node.ocs.openshift.io/storage
                operator: Equal
                value: "true"
              volumes:
              - name: webhook-cert-secret
                secret:
                  secretName: webhook-cert-secret
      - label:
          app.kubernetes.io/name: ocs-client-operator-console
        name: ocs-client-operator-console
        spec:
          selector:
            matchLabels:
              app.kubernetes.io/name: ocs-client-operator-console
          strategy: {}
          template:
            metadata:
              labels:
                app.kubernetes.io/name: ocs-client-operator-console
            spec:
              containers:
              - image: quay.io/ocs-dev/ocs-client-console:latest
                livenessProbe:
                  httpGet:
                    path: /plugin-manifest.json
                    port: 9001
                    scheme: HTTPS
                  initialDelaySeconds: 1000
                  periodSeconds: 60
                name: ocs-client-operator-console
                ports:
                - containerPort: 9001
                  protocol: TCP
                resources:
                  limits:
                    cpu: 100m
                    memory: 512Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
                  readOnlyRootFilesystem: true
                  seccompProfile:
                    type: RuntimeDefault
                volumeMounts:
                - mountPath: /var/serving-cert
                  name: ocs-client-operator-console-serving-cert
                  readOnly: true
                - mountPath: /etc/nginx/nginx.conf
                  name: ocs-client-operator-console-nginx-conf
                  subPath: nginx.conf
                - mountPath: /var/log/nginx
                  name: ocs-client-operator-console-nginx-log
                - mountPath: /var/lib/nginx/tmp
                  name: ocs-client-operator-console-nginx-tmp
              securityContext:
                runAsNonRoot: true
              serviceAccountName: ocs-client-operator-controller-manager
              tolerations:
              - effect: NoSchedule
                key: node.ocs.openshift.io/storage
                operator: Equal
                value: "true"
              volumes:
              - name: ocs-client-operator-console-serving-cert
                secret:
                  secretName: ocs-client-operator-console-serving-cert
              - configMap:
                  name: ocs-client-operator-console-nginx-conf
                  optional: true
                name: ocs-client-operator-console-nginx-conf
              - emptyDir: {}
                name: ocs-client-operator-console-nginx-log
              - emptyDir: {}
                name: ocs-client-operator-console-nginx-tmp
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: ocs-client-operator-controller-manager
      - rules:
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - csi.ceph.io
          resources:
          - cephconnections
          verbs:
          - get
          - patch
        serviceAccountName: ocs-client-operator-status-reporter
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - operator
  - data
  - storage
  links:
  - name: OCS Client Operator
    url: https://github.com/red-hat-storage/ocs-client-operator
  maintainers:
  - email: ocs-support@redhat.com
    name: Red Hat
  maturity: alpha
  provider:
    name: Red Hat
  version: 4.19.0
