apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: status-reporter
rules:
  - apiGroups:
      - ocs.openshift.io
    resources:
      - storageclients
    verbs:
      - get
      - list
      - update
  - apiGroups:
      - config.openshift.io
    resources:
      - clusterversions
      - dnses
    verbs:
      - get
      - list
  - apiGroups:
      - quota.openshift.io
    resources:
      - clusterresourcequotas
    verbs:
      - get
