---
name: image-builder

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  container-build:
    name: operator-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
            go-version-file: go.mod

      - name: Run go mod tidy
        run: |
          make godeps-update

      - name: Build operator container image
        run: make build

  bundle-build:
    name: bundle-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
            go-version-file: go.mod
            cache: false

      - name: Run go mod tidy
        run: |
          make godeps-update

      - name: Build operator bundle container image
        run: make bundle-build

  catalog-build:
    name: catalog-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
            go-version-file: go.mod
            cache: false

      - name: Run go mod tidy
        run: |
          make godeps-update

      - name: Build catalog container image
        env:
          IMAGE_REGISTRY: localhost:5000
        run: |
          docker run -d -p 5000:5000 --name registry registry:2
          make bundle-build bundle-push catalog-build
